@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CineRateHub</h1>
    <p>Here, you can create your own ratings for movies you've watched.</p>
</div>
